doctype html
html
    head

        title Welcome | SpArc
        include ./head.pug

        link(type="text/css", rel="stylesheet", href="/css/home.css")



    body

        include ./menu.pug

        .parallax-container.screen-height.valign-wrapper
            .container
                .row
                    img#intro-head.col.s10.push-s1.m8.push-m2.l6.push-l3(src='/images/logos/white-transparent1.png')
            .parallax
                img(src='/images/art-background-decoration-354939.jpg', alt='Unsplashed background img 1')

        .full-width
            .container
                .section
                    // Icon Section

                    h1.center(style='font-size:29px;') Our Working Fields

                    .row
                        .col.s12.m3
                            .icon-block
                                h2.center.brown-text
                                    img(src='https://png.icons8.com/ios/50/000000/home.png')
                                h5.center.strong Architecture
                                p.light.center Architecture starts when you carefully put two bricks together. There is begins.
                        .col.s12.m3
                            .icon-block
                                h2.center.brown-text
                                    img(src='https://png.icons8.com/ios/50/000000/armchair.png')
                                h5.center.strong Interior
                                p.light.center Interior is the natural projection of the soul
                        .col.s12.m3
                            .icon-block
                                h2.center.brown-text
                                    img(src='https://png.icons8.com/ios/50/000000/grass.png')
                                h5.center.strong Landscaping
                                p.light.center In all things of nature there is something of the Marvelous
                        .col.s12.m3
                            .icon-block
                                h2.center.brown-text
                                    img(src='https://png.icons8.com/ios/50/000000/streets.png')
                                h5.center.strong Urban Design
                                p.light.center In all things of nature there is something of the Marvelous
                    .row
                        .col.s12.center
                            a.blue.lighten-2.waves-effect.waves-light.btn-large(href='/projects') Explore



        .parallax-container.valign-wrapper
            .parallax
                img.darken(src='/images/green.jpg', alt='Unsplashed background img 2')

            .container
                .row#counter
                    .col.s4.center
                        .white-text
                            .counter-value(data-count='38', style='font-size: 4em') 0
                            h5 Projects

                    .col.s4.center
                        .white-text
                            .counter-value(data-count='27', style='font-size: 4em') 50
                            h5 Clients

                    .col.s4.center
                        .white-text
                            .counter-value(data-count='169', style='font-size: 4em') 100
                            h5 Designs







        .container
            .section
                .row
                    .col.s12
                        h4.center Borderline
                        p.left-align.light.center(style='font-size:20px;line-height: 35px;')
                            | SpArc Associates is a Nagpur-based collaborative firm for architectural, Urban Planning,landscape and interior designing by a group of young creatively enthusiastic architects. The firm works on a wide array of projects ranging from building architecture
                            | to landscape and interior designs.


        .parallax-container.valign-wrapper(style='height: 600px;')
            .parallax
                img(src='/images/partment.jpg', alt='Unsplashed background img 3')



        .container
            .section
                .row
                    .col.s12
                        h4.center Products
                        p.left-align.light.center(style='font-size:20px;line-height: 35px;')
                            | SpArc Associates do deal in Interior products
                        .row
                            .col.s12.m4
                                .icon-block
                                    h2.center.brown-text
                                        img(src='https://png.icons8.com/ios/50/000000/paint.png')
                                    h5.center.strong Art Pieces
                                    p.light.center Architecture starts when you carefully put two bricks together. There is begins.
                            .col.s12.m4
                                .icon-block
                                    h2.center.brown-text
                                        img(src='https://png.icons8.com/ios/50/000000/lamp.png')
                                    h5.center.strong Lightings
                                    p.light.center Interior is the natural projection of the soul
                            .col.s12.m4
                                .icon-block
                                    h2.center.brown-text
                                        img(src='https://png.icons8.com/ios/60/000000/chair.png')
                                    h5.center.strong Furnishings
                                    p.light.center In all things of nature there is something of the Marvelous


        .parallax-container.valign-wrapper(style='height: 400px;')
            .parallax
                img(src='/images/build.jpg')
            img(src='/images/white-transparent1.png', style='max-width:80vw;')

        include ./footer.pug

        script(src="/js/tilt.jquery.min.js")

        script(src='/js/home.js')



        script(src='js/counter.js')


